<main class="page__main">
  <div class="container__search">
    <h1 class="container__search--title">
      <label for="series">buscador de series</label>
    </h1>
    <input
      class="container__search--input js-input"
      type="text"
      id="series"
      name="series"
    />
    <button class="container__search--button js__search--button" type="submit">
      buscar
    </button>
  </div>
  <div class="container__series">
    <ul class="container__series--list js-list">
      <!-- Listado de series -->
    </ul>
  </div>
  <div class="container__favourites">
    <h2 class="container__favourites--title">mis series favoritas</h2>
    <ul class="container__favourites--list js-favourite--list">
      <!-- Listado de series favoritas -->
    </ul>
  </div>
</main>
