<main class="page__main">
  <div class="container__search">
    <h1 class="container__search--title">
      <label for="films">buscador de series</label>
    </h1>
    <input
      class="container__search--input"
      type="text"
      id="films"
      name="films"
    />
    <button class="container__search--button" type="submit">buscar</button>
  </div>
  <div class="container__films">
    <ul class="container__films--list">
      <!-- Listado de películas -->
    </ul>
  </div>
  <div class="container__favourites">
    <h2 class="container__favourites--title">mis series favoritas</h2>
    <ul class="container__favourites--list">
      <!-- Listado de películas favoritas -->
    </ul>
  </div>
</main>
