.container__footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $color-secondary;
  height: 6rem;

  .copyright {
    color: $color-light;
    font-size: 0.5rem;
    display: block;
    text-align: center;
    position: relative;
    top: 50%;
  }

  .logo_adalab {
    display: block;
    width: 30%;
    height: 10%;
    margin: auto;
    margin-top: 1rem;

    @include tablet {
      width: 8%;
    }

    img {
      width: 100%;
    }
  }
}
