.page__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__footer {
  width: 100%;
  background-color: $color-secondary;
  height: 12rem;
}
