.container__search {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: $color-secondary;
  height: 192px;
  z-index: 1;

  &--title {
    color: $color-light;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    font-family: $font-main;
  }

  &--input {
    width: 160px;
    margin: auto;
    display: block;
    font-family: $font-main;
  }

  &--button {
    text-transform: capitalize;
    width: 80px;
    margin: auto;
    display: block;
    margin-top: 16px;
    background-color: $color-third;
    border-radius: 5%;
    color: $color-light;
    font-family: $font-main;
    cursor: pointer;
  }
}
