.container__search {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(10, 10, 10, 0.8);
  height: 12rem;
  z-index: 1;

  &--title {
    color: $color-title;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    font-family: $font-main;
  }

  &--input {
    width: 10rem;
    margin: auto;
    display: block;
    font-family: $font-main;
  }

  &--button {
    text-transform: capitalize;
    width: 5rem;
    margin: auto;
    display: block;
    margin-top: 1rem;
    background-color: $color-third;
    border-radius: 5%;
    color: $color-light;
    font-family: $font-main;
    cursor: pointer;
  }
}
