.container__favorites--section {
  border: 4px solid green;
  display: block;
  width: 100%;
  position: fixed;
  top: 190px;

  @media all and (min-width: 768px) {
    width: 30%;
  }
}

.container__favorites {
  &--list {
    overflow-y: auto;
    height: 25rem;
  }

  &--title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }
  .js-reset {
    background-color: $color-third;
    display: block;
    color: $color-light;
    font-weight: bold;
    margin: 10px auto;
    border-radius: 30px;
    padding: 5px;
  }
}

.container__series--section {
  border: 2px solid red;
  display: block;
  //position: relative;
  top: 190px;
  width: 100%;
  position: absolute;
  right: 0px;

  @media all and (min-width: 768px) {
    width: 70%;
  }
}

.container__series {
  width: 100%;
}

.js-list {
  display: grid;
  grid-template-columns: repeat(3, 05fr);
  grid-gap: 10px;
}

.js-name {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.js-image {
  display: block;
  margin: auto;
}

.js-name-favorites {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.js-image-favorites {
  display: block;
  margin: auto;
  width: 50px;
}

.background {
  background-color: $color-primary;
}

.js-delete {
  color: $color-secondary;
  font-weight: bold;
  font-size: 20px;
}
