.container__series {
  width: 50%;
  border: 1px solid red;
}

.container__favorites {
  width: 50%;

  border: 1px solid green;
  .reset {
    background-color: $color-third;
  }
}

.background {
  background-color: $color-primary;
}

.delete {
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px white;
  background-color: chartreuse;
}
